@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.cabecalho {
  /*position: relative;*/

  width: 1200px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #f03c42;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container1 {
  border: 1px solid #000000;
  /*display: flex;
  align-items: center;
  width: 200px;*/
  /*position: static;*/

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;

  color: #ffffff;
}
.container2 {
  border: 1px solid #000000;
  /*display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;*/
  /* @DSSuperFit */

  /*position: static;*/

  width: 200px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;

  color: #ffffff;
  justify-content: space-evenly;
}






.gym-structure {
  position: relative;
  width: 1200px;
  height: 418px;
  left: 0px;
  top: 100px;

  background: #222374;
}
.meet_our_space {
  color: #ffffff;
}
.fitness-space {
  position: relative;
  width: 960px;
  height: 127px;
  left: 120px;
  top: 204px;

  background: #cccccc;
  border-radius: 8px;
}
h3:hover {
  cursor: pointer;
}
.modalidades {
  position: relative;
  width: 960px;
  height: 106px;
  left: 120px;
  top: 622px;

  background: #222374;
  border-radius: 8px;
}

h3 {
  color: #ffffff;
}
footer {
  position: relative;
  width: 1200px;
  height: 262px;
  left: 0px;
  top: 1398px;

  background: #000000;
}
