.cabeçalho {
  position: relative;
  width: 1200px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #f03c42;
  border: 10px;
  border-color: aquamarine;
}
.gym-structure {
  position: relative;
  width: 1200px;
  height: 418px;
  left: 0px;
  top: 100px;

  background: #222374;
}
.meet_our_space {
  color: #ffffff;
}
.fitness-space {
  position: relative;
  width: 960px;
  height: 127px;
  left: 120px;
  top: 204px;

  background: #cccccc;
  border-radius: 8px;
}
h3:hover {
  cursor: pointer;
}
.modalidades {
  position: relative;
  width: 960px;
  height: 106px;
  left: 120px;
  top: 622px;

  background: #222374;
  border-radius: 8px;
}

h3 {
  color: #ffffff;
}
footer {
  position: relative;
  width: 1200px;
  height: 262px;
  left: 0px;
  top: 1398px;

  background: #000000;
}
